* {
    font-family: 'Konkhmer Sleokchher';

}

body {
    margin: 0;
}


.container {
    display: flex;
    height: 100vh;

}

.header {
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    color: rgba(147, 71, 143, 0.8);
}

.half {
    display: flex;
    flex: 1;
}

h1{
    position: center;
    font-size: 3vw;
}


.left {
    background: url(/images/conept-pic.avif) no-repeat;
}


.formContainer {
    display: flex;
    background: rgb(239,194,233);
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    
}

.innerLeft {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.innerRight {
    display: flex;
    flex-direction: column;
    gap: 1em;
}



input {
    width: 80%;
    cursor: pointer;
    background-color: rgb(236,236,238);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input::placeholder {
    position: center;
    left: 1rem;
    padding: 0.20em;

}

button {
    margin-top: 5%;
    margin-right: 5%;
    width: 15%;
    overflow: auto;
    border-radius: 4px;
    padding: auto;
    border: none;
}

small {
    font-size: calc(10px + 0.3em);
    margin-right: 5%;
}